--
-- PostgreSQL database dump
--

\restrict 7vEd4iGjbjx14zf70anSr0Qj255erCyEytSyjTYkm21qBRiSuOLV0ERgl9YRfVF

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dictionary; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.dictionary (
    id integer NOT NULL,
    language text NOT NULL,
    word text NOT NULL,
    gender character varying(20),
    pronunciation text,
    definition text,
    synonym jsonb,
    exsentence jsonb,
    wordtype character varying(20),
    difficulty character varying(20),
    transitivity boolean,
    notes character varying(200)
);


ALTER TABLE public.dictionary OWNER TO devuser;

--
-- Name: dictionary_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.dictionary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dictionary_id_seq OWNER TO devuser;

--
-- Name: dictionary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.dictionary_id_seq OWNED BY public.dictionary.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.games (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    priorwords jsonb,
    lives integer,
    maxrounds integer,
    mode character varying(20),
    showexsentence boolean,
    timer integer,
    nextwords jsonb NOT NULL,
    currentround integer,
    roundswon integer[] DEFAULT '{}'::integer[] NOT NULL,
    language character varying(20),
    difficulty character varying(10),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.games OWNER TO devuser;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.reports (
    id integer NOT NULL,
    issue character varying(300) NOT NULL,
    details character varying(300)
);


ALTER TABLE public.reports OWNER TO devuser;

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reports_id_seq OWNER TO devuser;

--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: dictionary id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.dictionary ALTER COLUMN id SET DEFAULT nextval('public.dictionary_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Data for Name: dictionary; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.reports (id, issue, details) FROM stdin;
1	puzzle	test, dont take this seriously
\.


--
-- Name: dictionary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.dictionary_id_seq', 1167, true);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.reports_id_seq', 1, true);


--
-- Name: dictionary dictionary_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.dictionary
    ADD CONSTRAINT dictionary_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 7vEd4iGjbjx14zf70anSr0Qj255erCyEytSyjTYkm21qBRiSuOLV0ERgl9YRfVF

